body{
  background-image: url("https://camo.githubusercontent.com/7883134981f223787525e7d37a2f7eb219cb2faf38419a00a4ff2c276b21a2ad/68747470733a2f2f696d616765732e68647177616c6c732e636f6d2f77616c6c7061706572732f747261696e2d6d6f756e7461696e732d696c6c757374726174696f6e2d6d696e696d616c69737469632d396c2e6a7067");
  background-size: cover;
  background-position: center;
}

#register{
  
  background-image: url("https://camo.githubusercontent.com/7883134981f223787525e7d37a2f7eb219cb2faf38419a00a4ff2c276b21a2ad/68747470733a2f2f696d616765732e68647177616c6c732e636f6d2f77616c6c7061706572732f747261696e2d6d6f756e7461696e732d696c6c757374726174696f6e2d6d696e696d616c69737469632d396c2e6a7067");
}